@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-100 text-gray-800 antialiased;
  }
}
.Toastify__toast {
  border-radius: 12px;
  font-weight: 500;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
